.card{
  display: flex;
  gap: 4%;
  padding: 5% 0;
}
.main{
  padding:5% 15%;
}
.main h2{
  color: #0649e7;
}
.btnOutline{
  border: 2px solid #0649e7;
  padding: 0 40px;
  color: #0649e7;
  font-size: 20px;
  background-color: #fefefe;
  height: 67.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
}
.btnOutline:hover {
  color: #fefefe;
  background-color: #0649e7;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 7%;
}
.chooseUs{
  width: 1412px;
  height: 538px;
  border-radius: 35px;
  background-color: #f8faff;
  margin-left: 15%;
  padding: 3%;
}
.chooseUs h2 {
  margin-bottom: 4%;
  color: #022183;
}
.ChooseUsContainer {
  display: flex;
  justify-content: space-between;
}

.plans {
  color: #0649e7;
  font-weight: 500;
}
.plans{
  margin-left: 15%;
}
.plans h2{
  margin: 8% 0;
}
.cardContainer{
  display: flex;
  justify-content:flex-start;
  gap: 4%;
}

/* advance component */
.right span{
  font-size: 40px;
  font-family: sora;
}
.advance{
  width: 1296px;
  height: 324px;
  padding: 2% 3%;
  margin: 8% 0;
  border-radius: 35px;
  background-color: #0649e7;
  display: flex;
  flex-direction: column;
  color: #fefefe;
}
.top, .bottom, .left,.right{
  display: flex;
}
.top, .bottom {
  justify-content: space-between;
}
.left{
  flex-direction: column;
  align-items: flex-start;
}
.left h2{
  margin: 0;
}
.left hr{
  width: 100%;
  color: #fefefe;
}

.right{
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}
.top .right{
  justify-content: flex-start;
}
.endhr{
  width: 1292px;
}